body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #363636;
    background-color: #ededed;
}
.box {
    margin-bottom: 15px;
}

.box p {
    font-size: 1.3em;
    line-height: 1.5em;
}

.box h2 {
    font-size: 1.8em;
    font-weight: 700;
    color: #ff8598;
    text-transform: uppercase;
}

.box h2::before {
    margin-right: 5px;
    content:"//";
}

.contact-item {
    float: left;
    width: 100%;
}

.contact-item .icon {
    padding: 10px;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    opacity: 0.2;
}

.contact-item:last child .icon {
    border-bottom: none;
}

.contact-item .fa {
    font-size: 2em;
}

.contact-item .title {
    width: 80%;
    width: calc(100% - 55px);
    font-size: 1.5em;
    font-weight: 700;
    opacity: 0.9;
}

.contact-item .title.only {
    margin-top: 10px;
}

.contact-item .description {
    width: 80%;
    width: calc(100% - 55px);
    font-size: 1.2 em;
    opacity: 0.7;
}